.main-container {
  height: 100%;

  .main-body {
    height: calc(100% - 68px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .container {
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      mat-form-field {
        border: 1px solid #E5E5E5;

        ::ng-deep {
          .mat-mdc-form-field-infix {
            min-height: 40px;
            padding: 10px 0;

            input {
              line-height: 20px;
            }
          }

          mat-icon {
            padding: 8px;
          }

          .mat-mdc-form-field-subscript-wrapper {
            display: none;
          }
        }
      }
    }

    .action-btns {
      display: flex;
      gap: 16px;
      flex-direction: row-reverse;

      .save-btn,
      .cancel-btn {
        height: 40px;
        border-radius: 6px;

        ::ng-deep {
          span {
            font-weight: 500;
          }
        }
      }

      .save-btn {
        background-color: #1DA1F2;

        ::ng-deep {
          span {
            color: #fff;
          }
        }
      }

      .cancel-btn {
        background-color: transparent;

        ::ng-deep {
          span {
            color: #1DA1F2;
          }
        }
      }
    }

    .date-picker-container {
      display: flex;
      align-items: center;
      gap: 16px;

      .date-container {
        width: 172px;
      }

      .arrow-icon {
        color: #007bff;
      }
    }
  }

  .tool-bar {
    background-color: #1DA1F2;
    padding: 0;
    margin-bottom: 8px;

    h3 {
      color: #fff;
      font-weight: 500;
      line-height: 21px;
      padding: 19.5px 16px;
    }
  }

  .full-width {
    width: 100%;
  }
}
